<%= form_for(@exam) do |f| %>
  <% if @exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% @exam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :ename %><br>
    <%= f.text_field :ename %>
  </div>
  <div class="field">
    <%= f.label :edate %><br>
    <%= f.date_select :edate %>
  </div>
  <div class="field">
    <%= f.label :teacher_id %><br>
    <%= f.text_field :teacher_id %>
  </div>
  <div class="field">
    <%= f.label :enroll_id %><br>
    <%= f.text_field :enroll_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
